html {
  min-height: 100%;
}

body {
  background: #ff9966;
  background: -webkit-linear-gradient(
    to bottom,
    #ff5e62,
    #ff9966
  );
  background: linear-gradient(
    to bottom,
    #ff5e62,
    #ff9966
  );
  font-family: Arial, Helvetica, sans-serif;
}

code {
  color: #e83e8c;
  word-wrap: break-word;
  font-size: 87.5%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

p {
  margin-bottom: 8px;
}

p > span {
  color: #4ca1af;
}

.container {
  margin: 40px auto;
  padding: 32px;
  max-width: 1140px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container-item {
  padding-top: 16px;
}

.container-item:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #acbb78;
}
